<!--ユーザーの詳細画面-->

<%= flash[:notice] %>

<div class="container">
<div class="row"> 

 <div class="col-lg-4">
<%= render 'books/show', user: @user, newBook: @newBook %>
 </div>

<div class="col-lg-8">
 <h1>Books</h1> 
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= nil %></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
   <% @book.each do |books| %>
  <tr>
    <td><%= image_tag books.get_profile_image(100,100) %></td>
    <td><%= link_to books.title, book_path(books.id) %></td>
    <td><%= books.body %></td>
  </tr>
   <%end%>
  </tbody>
</table>
</div>
</div>
</div>


