<!--ユーザーの詳細画面-->
<h1>Users#show</h1>

<%= flash[:notice] %>

<%= render 'books/show', user: @user, newBook: @newBook %>

<h1>Books</h1>
<span>Title</span><span>Opinion</span>
<div>
 <% @book.each do |books| %>
  <%= image_tag books.get_profile_image(100,100) %>
  <%= link_to books.title, book_path(books.id) %>
  <%= books.body %>
 <%end%>
</div>

