<!--Booksの一覧ページ-->

<h1>Books#index</h1>

<h1>User info</h1>
<%= image_tag current_user.get_profile_image(100,100) %>
<div>
<p>name</p>
<%= current_user.name %>
<p>introduction</p>
<%= current_user.introduction %>
</div>

<h1>New book</h1>
<%= form_with model: @book, url:'/books', method: :post do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

 <p>Opinion</p>
 <%= f.text_area :body %>
 
 <%= f.submit 'Create Book' %>
<%end%>

<h1>Books</h1>
<span>Title</span><span>Opinion</span>
<div>
<% @books.each do |books| %>
<%= image_tag books.get_profile_image(100,100) %>
<%= books.title %>
<%= books.body %>
<%end%>
</div>

