<!--Booksの一覧ページ-->

<h1>Books#index</h1>

<% if @newBook.errors.any? %>
  <%= @newBook.errors.count %>件のエラーが発生しました
  <ul>
    <% @newBook.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'index', newBook: @newBook %>

<h1>Books</h1>
<span>Title</span><span>Opinion</span>
<div>
<% @books.each do |books| %>
<%= image_tag books.get_profile_image(100,100) %>
<%= link_to books.title, book_path(books.id) %>
<%= books.body %>
<%end%>
</div>

