<!--Bookの詳細ページ-->
<%= flash[:notice] %>

<h1>Books#show</h1>

<%= render 'show', user: @user, newBook: @newBook %>


<h1>Book detail</h1>
<%= image_tag @book.get_profile_image(100,100) %>
<%= link_to @user.name, user_path(@user.id) %>
<%= link_to @book.title, book_path(@book.id) %>
<%= @book.body %>
<% if @book.user == current_user %>
<%= link_to "Edit", edit_book_path(@book.id), method: :get %>
<%= link_to "Destroy", book_path(@book.id), method: :delete %>
<%end%>
